@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
  --main-color: #C7C8CC;
  --sub-color:#E3E1D9;
  --white-color: #F2EFE5;
  --pink-color:#f78da7;
  --sub-pink-color: #cf2e2e;
}


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: var(--white-color);
}
